.container {
    width: 300px;
    margin: 50px auto 0;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.title {
    display: block;
}

.friend {
    background: rgba(148, 148, 148, 0.1);
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}

.friend p {
    color: black;
    font-size: 1em;
    font-weight: bold;
}

a.post-image {
    text-decoration: none;
  }

  .hide {
    display: none !important;
  }

  .searchPost {
    margin-bottom: 20px;
  }
  
  .previewImg {
    margin-top: 20px;
    width: 200px;
    height: auto;
    background: white;
    padding: 20px;  
  }

  .likes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  span.like-btn {
    cursor: pointer;
    padding: 10px;
    font-size: 2em;
    color: red;
  }

  span.likes-count {
    text-decoration: none;
    color: #333;
        }

