.profile__information {
    background-color: rgba(148, 148, 148, 0.1);
    width: 960px;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    max-width:100%;
}

.profile {
    flex: 1 20%;
    background-image: url("http://wowslider.com/sliders/demo-81/data1/images/redkite50498.jpg");
    max-height: 168px;
    max-width: 168px;
    min-height: 168px;
    min-width: 168px;
    border-radius: 50%;
    margin: 20px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.information {
    flex: 1 80%;
    margin: 20px;
}

.information p {
    line-height: 1.5em;
    margin-bottom: 30px;
}

.information a {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 7px;
    display: inline-block;
    margin-bottom: 5px;
}

.profilePosts{
  margin-top: 20px;
}

.profilePosts .container{
  background-color: rgba(148, 148, 148, 0.1);
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding:25px 15px;
  max-width:100%;
}

.container_post {
  width: 350px;
  position: relative;
  background: white;
  padding: 30px 0 0;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0 auto 60px;
}

.profilePosts a{
  width:auto;
  margin-bottom: 10px;
  text-align: center;
}

a.post__full {
  position: initial;
}

.likes {
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.userPosts {
  width:100%;
  height:290px;
  overflow: hidden;
}

.userPosts .post__img {
  width: 100%;
  height: 285px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.popup {
    position: fixed;
    height: 100vh;
    width:100%;
    top:0;
    background:rgba(0,0,0,0.6);
}

.popup .close {
    position: absolute;
    right:10px;
    top: 15px;
    color:white;
    font-size: 32px;
    text-decoration: none;
}

.popup .post {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.popup img{
  max-width: 100%;
  max-height: 80vh;
}

.popup p{
  text-align: center;
  color:white;
  width:100%;
}

.popup .post p {
  color: black;
}

.imageUpload{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width:500px;
  height:350px;
  background: white;
  padding:20px;
}

.imageUpload .radio{
  display: none;
}

.imageUpload .color{
  padding:5px 10px;
}

.imageUpload .radio:checked + label{
  background:#333;
  color:white;
  border-radius: 5px;
}

#description{
  width:100%;
  height: 85px;
  resize: none;
  border: 1px solid #BFBFBF;
}

.edit__options,
.fa-ellipsis-h,
.option--delete,
.option--edit {
  color: black;
  font-size: 1em;
  text-decoration: none;
}

.edit__options form {
  margin: 5px 0 10px;
}

.edit__options {
  left: -163px;
  top: 30px;
}

.form--delete,
.form--edit {
  display: none;
}

.hide {
  display: none !important;
}

@media screen and (max-width: 600px) {
  .profile {
    min-height: 168px;
    left: 50%;
    margin-left: -84px;
    position: relative;
  }
  .popup .post {
    width:80%;
  }

  .profile__information {
    margin-top: 0;
    flex-flow: column wrap;
  }

  .information {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
  }

  .information a {
    width: 130px;
    text-align: center;
    margin: 2.5px auto;
  }

  textarea#description {
    border: 2px solid #BFBFBF;
    border-radius: 5px;
    margin-top: 10px;
  }

  input#fileToUpload {
    border: 2px solid #BFBFBF;
    border-radius: 5px;
  }

  select#filter {
    border: 2px solid #BFBFBF;
    border-radius: 5px;
  }

  input[type="submit"] {
    border: 2px solid #BFBFBF;
    border-radius: 5px;
  }

  p.bio {
    text-align: center;
  }

}