* {
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
}

nav{
    display: flex;
    background: #000;
    padding: 2%;
    flex-flow: row wrap;
    justify-content: space-around;
}

nav a, nav form{
    margin-top: 0%;
    padding: 1%;
    color: #fff;
    flex: 0 0 100%;
    text-transform: lowercase;
    text-align: center;
    width: 600px;
}

form.login{
    margin: 100px;
}

form.login input{
    margin-bottom: 20px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #000;
}

form.login input[type=submit]{
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 10%;
}

nav form input{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #fff;
    color:white;
}

.container{
  width:960px;
  margin:auto;
  display:flex;
}

main.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em;
    grid-auto-flow: row;
}

div.post img{
    width: inherit;
    height: inherit;
}

.loadmore {
    background-color : #31B0D5;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
}

.btnLoadmore {
    position: fixed;
    bottom: -4px;
    right: 10px;
}

.search .container{
  background-color: rgba(148, 148, 148, 0.1);
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding:25px 15px;
  max-width:100%;
}

.searched a{
  width:48%;
}

.searchPost{
  height:350px;
}

@media only screen and (min-width: 600px) {
    nav a, nav form{
        flex-flow: row wrap;
        flex: 1 0 10%;
        text-transform: lowercase;
        text-align: center;
    }
  }
