* {
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
}

nav{
    display: flex;
    background: #000;
    padding: 2%;
}

nav a, nav form{
    margin-top: 0%;
    color: #fff;
    flex: 1 0 20%;
    text-transform: lowercase;
    text-align: center;
}

form.login{
    margin: 100px;
}

form.login input{
    margin-bottom: 20px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #000;
}

form.login input[type=submit]{
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 10%;
}

nav form input{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #fff;
}

.container{
  width:1024px;
  margin:auto;
  display:flex;
}

.userPosts{
  width:500px;
}

.userPosts img{
  width:500px;
}

.popup{
  position: fixed;
  height: 100vh;
  width:100%;
  top:0;
  background:rgba(0,0,0,0.6);
}

.popup .close{
  position: absolute;
  right:10px;
  top: 15px;
  color:white;
  font-size: 32px;
  text-decoration: none;
}

.popup img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width:80%;
}
