* {
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
}

nav{
    display: flex;
    background: #000;
    padding: 2%;
    flex-flow: row wrap;
    justify-content: space-around;
}

nav a, nav form{
    margin-top: 0%;
    padding: 1%;
    color: #fff;
    flex: 0 0 100%;
    text-transform: lowercase;
    text-align: center;
    width: 600px;
}

form.login{
    margin: 100px;
}

form.login input{
    margin-bottom: 20px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #000;
}

form.login input[type=submit]{
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 10%;
}

nav form input{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #fff;
}

.container{
  width:960px;
  margin:auto;
  display:flex;
}

main.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1%;
    grid-auto-flow: row;
}

div.post{
    background: blue;
    width: 500px;
    height: 500px;
}

.feedback {
    background-color : #31B0D5;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
}
  
.btnFeedback {
    position: fixed;
    bottom: -4px;
    right: 10px;
}

@media only screen and (min-width: 600px) {
    nav a, nav form{
        flex-flow: row wrap;
        flex: 1 0 10%;
        text-transform: lowercase;
        text-align: center;
    }
  }